<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--Give the fully qualified mapper java class -->
<mapper namespace="com.student.com.dao.Student-mapper">

    <resultMap type="student" id="result">
        <!-- primary key -->
        <id property="stdID" column="stdID" />
        <result property="name" column="name" />
        <result property="city" column="city" />
        <result property="phoneNum" column="phoneNum" />
        <result property="standard" column="standard" />
        <result property="section" column="section" />
    </resultMap>

    <!-- this all ids should be unique -->
    <select id="getAllStudents" resultType="student" resultMap="result">
        SELECT * FROM student
    </select>

    <insert id="addStudent" parameterType="student" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO student(stdID, name, city, phoneNum, section, standard)
        VALUES(#{stdID}, #{name}, #{city}, #{phoneNum}, #{section}, #{standard})
    </insert>

    <update id="updateStudent" parameterType="student">
        UPDATE student SET name = #{name}, city = #{city}, phoneNum = #{phoneNum}, section = #{section}, standard = #{standard}  WHERE stdid = #{stdID}
    </update>

    <delete id="deleteStudent" parameterType="long">
        DELETE FROM student WHERE stdid = #{stdID}
    </delete>

    <select id="findById" parameterType="long" resultType="student" resultMap="result">
        SELECT * FROM student WHERE stdid = #{stdID}
    </select>
</mapper>